<!--
<h4>
  
  <%= gravatar_for @user %> 
  <%= @user.nom %>
</h4>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
-->

<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      
        <strong><h2><%= gravatar_for @user %>
        <%= @user.nom %></h2></strong>
      
	  
	<% unless @user.microposts.empty? %>
        <table class="microposts" summary="Msgs de l'utilisateur">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
    <% end %>  
	  
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @user.nom %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user%><br />
	  <strong>Messages</strong> <%= @user.microposts.count %>
    </td>
  </tr>
</table>